<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="reservation.html">Reservasi Tiket</a></li>
                <li><a href="about.html">Tentang Kami</a></li>
                <li><a href="management.html">Tata Kelola</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="about">
            <h1>Tentang Kami</h1>
            <p>Informasi mengenai perusahaan pelayaran dan sejarah singkatnya.</p>
        </section>
    </main>
</body>
</html>
